.gitignore
/MovieSearchEngine/nbproject/private
/MovieSearchEngine/build.xml
/MovieSearchEngine/manifest.mf
/MovieSearchEngine/dist/
/MovieSearchEngine/build/
WebSite1
/MovieSearchEngine/WebSite1/packages.config
/report/*.aux
/report/*.log
/report/*.out
/report/*.gz
/report/*.db

/report/Report.pdf
